
<form action="/payment/results">

<div>
<label for="giraffe">APR</label>
<input id="giraffe" type="text" placeholder="example 4.5" name="apr_amount"></div>

<div>
<label for="turtle">Number of years</label>
<input id="turtle" type="text" placeholder="How many years to repay" name="periods"></div>

<div>
<label for="dog">Principal</label>
<input id="dog" type="text" placeholder="How much principal" name="principal"></div>



<div><button>Calculate monthly payment </button></div>
</form>
