
<form action="/random/results">
<div>
<label for="giraffe">Minimum</label>
<input id="giraffe" type="text" placeholder="E.g. 1.5" name="elephant">
</div>
<div>
<label for="turtle">Maximum</label>
<input id="turtle" type="text" placeholder="E.g. 4.5" name="turtle">
</div>
<button>Pick random number</button>
</form>
